.upcontent {
    width: 1241px;
    height: 673px;
  
}

.title {
    font-family: 'Poppins';
    color: white;
    top: 50px;
    left: 150px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    border-bottom: 3px solid #738FFF; /* Setting border-bottom */
    width: fit-content; /* Adjusting the width of the element */
}

.players {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.sportEvent {
    background: #292B32;
    margin: 10px;
    height: 54px;
}

.img {
    width: 237px;
    height: 511px;
    background: #3B3E47;
    box-shadow: 0px 4px 8px 0px #0000000D;

}

span {
    font-family:'Inter';
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
    line-height: 20.57px;
    text-align: left;
    color: white;
}

.img img {
    padding: 10px;
}

.events {
    display: flex;
   
}


ul {
    list-style: none;
    Font: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color: #DFDFDF;
    font-family:'Inter';

}

li {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    color: #FFFFFF;
    margin-top: 5px;
}

.advert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    color: #FFFFFF;
    font-family:'Inter';

}

.advertPara {
    padding: 10px;
    font-size: 12.8px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #DFDFDF;
    margin-left: 20px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right end */
    padding-right: 20px; /* Add padding to separate button from right edge */
}

.button-container button {
    background: #2C9CF0;
    border: none;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px; /* Add margin between button and other content */
}


.light-theme .title {
    color: #000000;
}

.light-theme .img{
    background-color: #fff;
}


.light-theme span {
    color: #000000;

}

.light-theme .sportEvent {
    background-color: #F7F7F8;

}

.light-theme ul {
    color: #525965;
}

.light-theme li {
    color: #000000;

}

.light-theme .advert {
    color: #000000;
}

.light-theme .advertPara {
    color: #525965;

}
